---
import { siteMeta } from '../data/site';
import '../styles/theme.css';

type Props = {
  title?: string;
  description?: string;
};

const { title = siteMeta.title, description = siteMeta.description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={siteMeta.keywords} />
    <link rel="icon" href="/assets/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/assets/img/apple-touch.png" />
    <link rel="preload" as="image" href="/assets/img/new_bg.jpg" fetchpriority="high" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <style>
      .info {
        justify-content: start !important;
      }

      .info:first-child {
        margin-bottom: 38px;
      }
    </style>
  </head>
  <body>
    <slot />
    <script is:inline src="/assets/vendor/aos/aos.js"></script>
    <script is:inline src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script is:inline src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script is:inline src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script is:inline src="/assets/vendor/typed.js/typed.min.js"></script>
    <script is:inline src="/assets/js/main.js"></script>
  </body>
</html>
